prof_services/com.zeligsoft.domain.sca.datasoft/xsd/resourceLog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="resourceLog">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="entry" type="entry" minOccurs="0" maxOccurs="unbounded" />					
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="entry">
		<xs:attribute name="time" type="xs:string" />
		<xs:attribute name="resource" type="xs:string" />
		<xs:attribute name="threads" type="xs:string"  />
		<xs:attribute name="memUsage" type="xs:string"  />
	</xs:complexType>
</xs:schema>